body{
font-family: Arial, sans-serif;
background:#222;
color:white;
text-align:center;
padding-top:100px;
}

.countdown{
display:flex;
justify-content:center;
gap:20px;
}

.time{
background:#333;
padding:20px;
border-radius:10px;
width:100px;
}

h2{
font-size:40px;
margin:0;
}

p{
margin:5px 0 0;
}
